{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django SaaS Boilerplate</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="{% static 'htmx.min.js' %}" defer></script>
    <script src="{% static 'kutty.min.js' %}" defer></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% block scripts %} {% endblock scripts %}
  </head>

  <body class="min-h-screen flex flex-col">
    <header class="z-30 w-full px-2 py-4 bg-white sm:px-4">
      <div class="flex items-center justify-between mx-auto max-w-7xl">
        <a href="{% url 'index' %}" title="Django Boilerplate" class="flex items-center">
          <img
            src="{% static 'Your_logo.png' %}"
            class="h-8"
            alt="Django Boilerplate"
          />
          <span class="sr-only">Django Boilerplate</span>
        </a>
        <div class="flex items-center space-x-1">
          <div class="hidden space-x-1 md:inline-flex">
            <a href="#" class="btn btn-sm btn-white">Features</a>
            <a href="{% url 'pricing' %}" class="btn btn-sm btn-white">Pricing</a>
            <a href="#" class="btn btn-sm btn-white">Blog</a>
            <a href="#" class="btn btn-sm btn-white">Company</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn btn-sm btn-white">Profile</a>
            <a href="{% url 'account_logout' %}" class="btn btn-sm btn-white">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="btn btn-sm btn-white">Register</a>
            <a href="{% url 'account_login' %}" class="btn btn-sm btn-white">Sign in</a>
            {% endif %}
          </div>
          <div class="inline-flex md:hidden" x-data="{ open: false }">
            <button class="flex-none px-2 btn btn-white btn-sm" @click="open = true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
                class="w-5 h-5"
              >
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
              </svg>
              <span class="sr-only">Open Menu</span>
            </button>
            <div class="absolute top-0 left-0 right-0 z-50 flex flex-col p-2 pb-4 m-2 space-y-3 bg-white rounded shadow" x-show.transition="open" @click.away="open = false" x-cloak>
              <button class="self-end flex-none px-2 ml-2 btn btn-white btn-icon" @click="open = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  aria-hidden="true"
                >
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <span class="sr-only">Close Menu</span>
              </button>
              <a href="#" class="w-full btn btn-white">Features</a>
              <a href="{% url 'pricing' %}" class="w-full btn btn-white">Pricing</a>
              <a href="#" class="w-full btn btn-white">Blog</a>
              <a href="#" class="w-full btn btn-white">Company</a>
              {% if user.is_authenticated %}
              <a href="{% url 'profile' %}" class="btn btn-sm btn-white">Profile</a>
              <a href="{% url 'account_logout' %}" class="btn btn-sm btn-white">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="btn btn-sm btn-white">Register</a>
              <a href="{% url 'account_login' %}" class="btn btn-sm btn-white">Sign in</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>
    
  

    <div class="flex-grow bg-white">
      {% if messages %} {% for message in messages %}

      <div class="p-4">
        <div
          role="alert"
          class="rounded-xl border border-gray-400 bg-white p-4"
        >
          <div class="flex items-start gap-4">
            <span class="text-green-600">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
            </span>

            <div class="flex-1">
              <p class="mt-1 text-sm text-gray-700">{{ message }}</p>
            </div>

            <button
              class="text-gray-500 transition hover:text-gray-600"
              onclick="this.parentElement.parentElement.remove()"
            >
              <span class="sr-only">Dismiss popup</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      {% endfor %} {% endif %} {% block content %} {% endblock content %}
    </div>

    <footer>
      <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
      >
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
          >Built with 🫶 by <a href="https://x.com/joji_jiji" target="_blank">George</a>
        </span>
      </div>
    </footer>
  </body>
</html>
