{% extends 'base.html' %} {% block content %}

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-3xl px-6 py-16 mx-auto text-center">
    <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">
      Password Reset Link Sent to you
    </h1>
    <p class="max-w-md mx-auto mt-5 text-gray-500 dark:text-gray-400">
      Check your email for a link to reset your password. If it doesn’t appear,
      check your spam folder.
    </p>
  </div>
</section>
{% endblock content %}
