{% extends 'base.html' %}
{% block content %}

<div class="flex items-center justify-center min-h-screen">
  <div
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >

    <div class="flex flex-col items-center pb-10 pt-10">
      <h5 class="mt-5 mb-1 text-xl font-medium text-gray-900 dark:text-white">
        {{ user.username }}
      </h5>
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >{{ user.email }}</span
      >
      {% if user_payment %}
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >Your purchase: {{ user_payment.product_name }}
      </span>
      {% else %}
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >You haven't made a purchase yet, help a brother out!
      </span>
      {% endif %}
      <div class="flex mt-4 md:mt-6">
        <a
          href="{% url 'account_logout' %}"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Logout</a
        >

      </div>
    </div>
  </div>
</div>

{% endblock content %}
