{% extends 'base.html' %}
{% block content %}

<div class="flex items-center justify-center min-h-screen">
  <div
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >

    <div class="flex flex-col items-center pb-10 pt-10">
      <h5 class="mt-5 mb-1 text-xl font-medium text-gray-900 dark:text-white">
        {{ user.username }}
      </h5>
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >{{ user.email }}</span
      >
      {% if user_subs %}
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >You are subscribed to: {{ user_subs.product_name }}
      </span>

        {% if user_subs.is_active and not user_subs.end_date %}
        <span class="text-sm text-gray-500 dark:text-gray-400"
        >Recurring Payment: ${{ user_subs.price }} / {{ user_subs.interval }}
        </span>
        <span class="text-sm text-gray-500 dark:text-gray-400"
        >Next Payment Date: {{ user_subs.next_billing_date | date:"F j, Y" }}
        </span>
        {% else %}
        <span class="text-sm text-gray-500 dark:text-gray-400"
        >Cancelled. End Date: {{ user_subs.end_date | date:"F j, Y" }}
        </span>
        {% endif %}
      {% else %}
      <span class="text-sm text-gray-500 dark:text-gray-400"
        >You are on the free tier
      </span>
      {% endif %}
      <div class="flex mt-4 md:mt-6">
        <a
          href="{% url 'account_logout' %}"
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Logout</a
        >

      </div>
           {% if user_subs.is_active and not user_subs.end_date %}
      <form method="POST" action="{% url 'cancel_subscription' user_subs.stripe_subscription_id %}">
        {% csrf_token %}
        <button class="btn btn-danger">Cancel subscription</button>
      </form>
      {% endif %}
      <br>
      <a href="{% url 'pricing' %}" type="button" class="btn btn-warning">Switch Plan</a>
    </div>
  </div>
</div>

{% endblock content %}
